<div class="sidebar">
    <div class="logo">
        <img src="./assets/imgs/logo/logo.png" alt="Logo" class="logo_lg">
        <img src="./assets/imgs/logo/logo_sm.png" alt="" class="logo_sm">
    </div>
    <div class="collapse_btn xl-hidden" onclick="handleCollapseToggle()">
        <i class="fa fa-angle-left"></i>
    </div>
    <div class="collapse_btn md-hidden" onclick="handlemobileToggle()">
        <i class="fa fa-angle-left"></i>
    </div>
    <div class="menu_items">
        <a href="#" class="menu_item active" data-target="dashboard"><i
                class="fa-solid fa-gauge"></i><span>Dashboard</span></a>
        <a href="#" class="menu_item" data-target="online_administrator"><i class="fa-solid fa-globe"></i><span>Online
                Administrator</span></a>
        <a href="#" class="menu_item" data-target="customerservice"><i class="fa-solid fa-headset"></i><span>Customer
                Service</span></a>
        <a href="#" class="menu_item"><i class="fa-solid fa-user-gear"></i><span>Administration</span></a>
        <a href="#" class="menu_item"><i class="fa-solid fa-screwdriver-wrench"></i><span>Administration
                2</span></a>
        <a href="#" class="menu_item"><i class="fa-solid fa-briefcase"></i><span>Ops Admin</span></a>
        <a href="#" class="menu_item"><i class="fa-solid fa-file-invoice-dollar"></i><span>Account Admin</span></a>
        <a href="#" class="menu_item"><i class="fa-solid fa-calculator"></i><span>Accounts</span></a>
        <a href="#" class="menu_item"><i class="fa-solid fa-ship"></i><span>Vessel Management</span></a>
        <a href="#" class="menu_item"><i class="fa-solid fa-anchor"></i><span>Quay Management</span></a>
        <a href="#" class="menu_item"><i class="fa-solid fa-users"></i><span>HR</span></a>
        <a href="#" class="menu_item"><i class="fa-solid fa-door-open"></i><span>In Gate</span></a>
        <a href="#" class="menu_item"><i class="fa-solid fa-door-closed"></i><span>Out Gate</span></a>
        <a href="#" class="menu_item"><i class="fa-solid fa-truck-ramp-box"></i><span>In Gate (Laden)</span></a>
        <a href="#" class="menu_item"><i class="fa-solid fa-truck-fast"></i><span>Out Gate (Laden)</span></a>
        <a href="#" class="menu_item"><i class="fa-solid fa-box-open"></i><span>In Gate (Empty)</span></a>
        <a href="#" class="menu_item"><i class="fa-solid fa-box"></i><span>Out Gate (Empty)</span></a>
        <a href="#" class="menu_item"><i class="fa-solid fa-magnifying-glass"></i><span>Examination</span></a>
        <a href="#" class="menu_item"><i class="fa-solid fa-truck-arrow-right"></i><span>Import Delivery</span></a>
        <a href="#" class="menu_item"><i class="fa-solid fa-warehouse"></i><span>Yard Management</span></a>
        <a href="#" class="menu_item"><i class="fa-solid fa-clock-rotate-left"></i><span>Gate History</span></a>
    </div>
    <div class="exit_settings">
        <a href="#" class="menu_item" data-target="Settings"><i class="fa-solid fa-gears"></i><span>Settings</span></a>
        <a href="#" class="menu_item"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a>
    </div>
</div>