.yard_container {
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 20px;
  /* justify-content: center; */
  flex-direction: column !important;
  gap: 20px;
  min-height: 100dvh;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth;
}

.rowd {
  display: flex;
  width: 100%;
  float: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cold {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.yard_container .yardfilter {
  /* flex: 1; */
  width: 100%;
  min-width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yard_container .yard_wrapper {
  overflow-y: scroll;
  max-height: calc(100vh - 20vh);
  scroll-behavior: smooth;
}

.yard_container .yard_wrapper .yard {
  width: fit-content;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  /* backdrop-filter: blur(100px); */
  /* scale: 0.8; */
  padding: 5px;
  /* background: #ffffff15; */
  border-right: 2px solid rgba(255, 0, 0) !important;
  border-left: 2px solid rgba(0, 60, 255);
  border-top: 2px solid rgb(28, 240, 74);
  border-bottom: 2px solid rgb(235, 181, 7);
  border-radius: 3px;
}

.yard_container .free_area {
  width: 100%;
  background: linear-gradient(to right, #ccccccb1, #ffffff38, #cccccc4a) no-repeat;
  /* background: green; */
  max-width: 388px;
  flex-wrap: wrap;
  overflow-y: scroll;
  display: flex;
  align-items: start;
  padding: 5px;
  /* height: auto; */
  height: 100%;
  min-height: 30dvh;
  max-height: 80dvh;
  transition: all 800ms ease-in-out;
  position: relative;
  backdrop-filter: blur(10px);
}

.yard_container .free_area::before {
  content: "Free Area";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  font-weight: 800;
  color: #cccccc84;
}

.yard_container .free_area .container {
  position: relative !important;
}

.yard_container .yard .drop_container {
  flex: 1;
  background: #e6e6e6a2;
  min-width: 280px;
  /* border: 2px solid #ccc; */
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.yard_container .yard .drop_container .add_container_space {
  width: 100%;
  background: #cfcfcf15;
  flex: 2;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.yard_container .yard .drop_container .add_details {
  background: #080;
  width: 100%;
  /* flex: 1; */
}

.yard_container .yard .containers_list {
  min-width: 280px;
  max-height: 600px;
  clear: both;
  margin: 0px;
  height: fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  position: relative;
}

.yard_container .yard_transport {
  flex: 1;
  /* background: violet; */
  width: 100%;
  /* min-width: 280px; */
  max-width: 388px;
  max-height: 250px;
}

.container {
  /* background: linear-gradient(
      to right,
      #0051ff,
      #0a0042,
      #0051ff,
      #0a0042,
      #0051ff,
      #0a0042,
      #0051ff,
      #0a0042
    )
    repeat-x; */
  background-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: sans-serif;
  color: #ffffffe5;
  font-weight: 900;
  box-shadow: inset 2px 3px 4px #030a4bc2, inset -2px -3px 4px #1901ebc2;
}
/* ---------------------------container_space--------------------------- */
.snap_box {
  flex: 1;
  max-width: 80px;
  min-width: 80px;
  min-height: 40px;
  height: 40px;
  border: 1px solid #ccccccc4;
  border-style: dashed;
  position: relative;
  transition: border-color 0.3s ease;
  /* overflow: hidden; */
}

.snap_box.highlight {
  border-color: green;
  box-shadow: 1px 1px 10px green;
}

.snap_box.highlight2 {
  border-color: rgb(255, 128, 0);
  box-shadow: 1px 1px 40px rgb(255, 128, 0);
}

.snap_box.invalid {
  border-color: red;
  box-shadow: 1px 1px 10px red;
}

.snap_box.occupied {
  background: rgba(0, 255, 0, 0.2);
}

.cont_num {
  font-size: 7px;
  text-align: left;
  width: 100%;
  text-indent: 2px;
  font-weight: 600;
  filter: drop-shadow(0px 0px 5px black);
}

/* ----------container_size-------------------------------- */
.container {
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-medium);
}

.twenty {
  width: 80px !important;
  height: 40px;
  cursor: grab;
}

.fourty {
  width: 160px !important;
  height: 40px;
  cursor: grab;
}

.fortyfive {
  width: 160px !important;
  height: 40px;
  cursor: grab;
}

.twenty:disabled,
.fourty:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

/* ----------drag & drop css----------------------------- */

.dragging {
  opacity: 0.9 !important;
  cursor: grabbing;
}

.drag {
  opacity: 0.9 !important;
  cursor: grabbing;
}

.snapping {
  border: 2px dashed #000;
}

.combined-snap-box {
  display: flex;
  width: calc(2 * 156px); /* 2 times the width of a snap box */
  height: 80px;
  border: 1px solid #ccccccc4;
  border-style: dashed;
  position: relative;
}

.fa-arrow-right {
  font-size: 40px;
  transform: rotate(30deg);
  font-weight: 100;
  color: #ccc;
}

/* -----------------yard transport----------------------------------- */

.yard_transport {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yard_transport .truck {
  /* width: 250px; */
  height: 120px;
  opacity: 0 !important;
  overflow: hidden;
  position: relative;
  display: flex;
  z-index: 9999;
}

.yard_transport .truck .truck_head {
  width: 100%;
}

.yard_transport .truck .truck_head img {
  width: 100%;
  /* width: 2cm; */
  margin-left: 15px;
}

.yard_transport .loadtruck {
  width: 260px;
  height: 60px;
  background: #fc000023;

  display: flex;
  align-items: center;
  position: absolute;
  top: 25px;
  left: 95px;
  z-index: 999;
}

.loadtruck .container {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
}

.loadtruck .container.twenty {
  width: 130px !important;
}

.loadtruck .container.fourty,
.loadtruck .container.fortyfive {
  width: 260px !important;
}

.loadtruck .container {
  height: 60px !important;
}

.truck_head .img_2 {
  background: red;
  float: right;
  min-width: 100%;
}

#searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 10px;
  transition: all 400ms ease;
}

.search_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  cursor: pointer;
  font-size: var(--font-size);
  position: absolute;
  left: 0;
}

#searchForm .form_control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  width: 300px;
  position: relative;
}
#searchForm .form_control input {
  padding: 8px 8px 8px 30px;
  outline: none;
  background: #ffffff38;
  backdrop-filter: 100px;
  border-style: none;
  border: 1px solid var(--border-color);
  border-radius: 3px 0 0 3px;
  width: 300px;
  font-size: var(--font-size);
  /* text-indent: 35px; */
}

#searchForm button {
  padding: 8px;
  border-style: none;
  border: 1px solid var(--border-color);
  border-radius: 0 6px 6px 0;
  background: var(--primary-color-light);
  cursor: pointer;
  font-size: var(--font-size);
  color: var(--text-color);
}

.add_truck-details {
  position: absolute;
  top: 50px;
  width: 30px;
  height: 30px;
  background: rgba(129, 129, 129, 0.212);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #303030;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
}

.add_truck-details:hover {
  background: #424242a2;
}

.truck_animation {
  width: 250px;
  height: 200px;
  position: absolute;
  top: -20px;
  right: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  animation: movetruck 4s forwards ease;
}

@keyframes movetruck {
  0% {
    right: -1000%;
    display: block;
    opacity: 1;
  }
  50% {
    right: -20%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.truck_animation img {
  width: 51%;
}

.truck_info {
  max-width: 400px;
  text-transform: uppercase;
  line-height: 25px;
  color: #000000cc;
  background: linear-gradient(to right, #e7e6e61e, transparent);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.truck_info span {
  color: var(--primary-color);
}

.truck_info div {
  display: flex;

  gap: 10px;
  margin-left: 10px;
}

.truck_info p {
  font-size: var(--font-size);
  color: var(--text-color);
}

/* ------------------other css------------------------ */

.hidden {
  display: none;
}

/* ----------------------yard form----------------------------- */

.containers_list h1 {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #4242426b;
  /* color: #dcdcdc; */
}

.add_details-modal.showthruck_modal {
  display: flex;
}

.add_details-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  background: #0000005b;
  z-index: 99999;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  display: none;
}

.add_details-modal.showthruck_modal .truck_info-details {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  transform: scale(1);
}

.truck_info-details .form_group {
  margin-bottom: 15px;
}

.truck_info-details button {
  padding: 10px 15px;
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
  transition: all 400ms ease;
}

.load_button {
  width: 100px;
  padding: 4px;
}

.load_button button {
  width: 100%;
  height: 30px;
  border-style: none;
  border: 1px solid rgb(107, 107, 107);
  background: transparent;
  cursor: pointer;
  font-weight: 700;
  display: none;
}

.load_button button:hover {
  background: rgba(0, 0, 255, 0.089);
  border: 1px solid blue;
}

.load_button button.show_loadButton {
  display: block;
}

.yard_transport .truck.showCont {
  opacity: 1 !important;
  transition: all 2s ease;
}

.num_box {
  width: 80px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000018;
}

.boldtext {
  font-size: var(--font-size);
  font-weight: 700;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 255, 0.1);
  border-top: 4px solid blue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.hidden {
  display: none;
}

/* --------------------------3d rotation------------------------------ */
.options {
  display: flex;
  gap: 1rem;
  animation: drop 1s ease-in-out;
  position: absolute;
  right: 0px;
  bottom: 50%;
  flex-direction: column;
  /* overflow: hidden; */
}

.options button {
  padding: 5px 10px;
  border-radius: 5px;
  border-style: none;
  font-weight: 600;
  border-bottom: 4px solid transparent;
  align-items: center;
  justify-content: left;
  font-size: var(--font-size);
  /* transform: translateX(10px); */
  transition: all 400ms ease-in-out;
  cursor: pointer;
  background: var(--primary-color);
  color: var(--text-light);
}

.options button:hover {
  transform: translateX(-10px);
}

/* .mode1 {
  background: rgb(20, 20, 209);
  color: #fff;
}

.mode2 {
  background: rgb(0, 89, 255);
  color: #fff;
} */

.mode3 {
  display: none;
  background: blue;
  color: #fff;
}

.mode4 {
  display: none;
  background: blue;
  color: #fff;
}

.mode5 {
  display: none;
  background: rgb(56, 56, 231);
  color: #fff;
}

.mode6 {
  display: none;
  background: blue;
  color: #fff;
}

.mode7 {
  background: blue;
  color: #fff;
}

.mode8 {
  background: blue;
  color: #fff;
}

.mode1:disabled,
.mode2:disabled,
.mode3:disabled,
.mode4:disabled,
.mode5:disabled,
.mode6:disabled,
.mode7:disabled,
.mode8:disabled {
  background: #ccc;
  cursor: none;
}

.mode1:hover,
.mode2:hover,
.mode3:hover,
.mode4:hover,
.mode5:hover,
.mode6:hover,
.mode7:hover,
.mode8:hover {
  backdrop-filter: blur(20px);
  /* border-bottom: 4px solid #ff0000; */
}

.isometric {
  transform: rotateX(60deg) rotateZ(45deg);
  transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform-style: preserve-3d;
  box-shadow: 25px 25px 10px #adadad49, inset -1px -1px 10px #4949499f;
  padding: 50px;
}

.yard.isometric2 {
  transform: rotateX(60deg) rotateZ(135deg);
  transition: all 1s ease;
  transform-style: preserve-3d;
  /* box-shadow: 13px -13px 10px #adadad; */
  box-shadow: 25px -25px 10px #adadad49, inset -3px 4px 10px #4949499f;
  padding: 50px;
}

.yard.isometric3 {
  transform: rotateX(60deg) rotateZ(235deg);
  transition: all 1s ease;
  transform-style: preserve-3d;
  box-shadow: -25px -25px 10px #adadad49, inset -1px -1px 10px #4949499f;
  padding: 50px;
}

.yard.isometric4 {
  transform: rotateX(60deg) rotateZ(325deg);
  transition: all 1s ease;
  transform-style: preserve-3d;
  box-shadow: -25px 25px 10px #adadad49, inset -1px -1px 10px #4949499f;
  padding: 50px;
}

.yard.isometric6 {
  rotate: 90deg;
  transition: all 1s ease;
}

.yard.isometric7 {
  rotate: 180deg;
  transition: all 1s ease;
}

.yard.isometric8 {
  rotate: 270deg;
  transition: all 1s ease;
}

.yard.isometric9 {
  rotate: 0deg;
  transition: all 1s ease-in-out;
}

.animate {
  transition: all 1s ease;
}

.comot {
  display: flex;
  animation: drop 500ms ease-out;
}

.comot2 {
  display: none;
  animation: dropup 2s ease-out;
}

.viewer {
  display: flex;
}

@keyframes drop {
  from {
    transform: translateX(100px);
    opacity: 0.1;
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes dropup {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

.count {
  position: absolute;
  z-index: 99999;
  background: #ffffffa6;
  backdrop-filter: blur(10px);
  top: 0px;
  right: 0px;
  width: 25px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  /* border-radius: 0 0 0 20px; */
}

.count sub {
  font-size: 10px;
  background: rgba(0, 255, 0, 0.301);
  backdrop-filter: blur(10px);
  padding: 3px;
  color: #080;
}

.error_message {
  position: absolute;
  top: 10px;
  left: 20px;
  bottom: 30px;
  width: 250px;
  height: fit-content;
  padding: 20px;
  word-wrap: break-word;
  z-index: 99999;
}

.er_message {
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: 30px;
  width: 250px;
  background: #ff010128;
  padding: 10px;
  word-wrap: break-word;
  z-index: 99999;
  color: #ff0000;
  border-radius: 5px;
  position: relative;
  display: none;
  font-size: var(--font-size);
}

.er_message::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  height: 3px;
  background: #ff0000;
  animation: loadwidth 2s forwards ease-in-out;
  transition: all 400ms ease;
}

@keyframes loadwidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.yard_name {
  position: absolute;
  left: -80px;
  z-index: 99999;
  transform: rotate(270deg);
  top: 50%;
  bottom: 50%;
  font-size: 25px;
  letter-spacing: 10px;
  line-height: 70px;
  text-transform: uppercase;
  font-weight: 700;
  color: #3a3a3a;
}

/* CMA shipping line */
.container.CMA {
  background: linear-gradient(
      to right,
      #0051ff,
      #0a0042,
      #0051ff,
      #0a0042,
      #0051ff,
      #0a0042,
      #0051ff,
      #0a0042
    )
    repeat-x;
  background-size: 10px;
}

/* MAE (Maersk) shipping line */
.container.mae {
  background: linear-gradient(to right, #00ff00, #080, #00ff00, #080, #00ff00, #080, #00ff00, #080)
    repeat-x;
  background-size: 10px;
  box-shadow: inset 2px 3px 4px rgba(0, 136, 0, 0.651), inset -2px -3px 4px #00ff00bc;
}

/* MSC shipping line */
.container.msc {
  background: linear-gradient(
      to right,
      #a18308,
      #7c5501,
      #a18308,
      #7c5501,
      #a18308,
      #7c5501,
      #a18308,
      #7c5501
    )
    repeat-x;
  background-size: 10px;
  box-shadow: inset 2px 3px 4px #a18308bc, inset -2px -3px 4px #ffff00bc;
}

/* ONE shipping line */
.container.ONE {
  background: linear-gradient(
      to right,
      #ff0000,
      #5c0034,
      #ff0077,
      #5c0034,
      #ff0077,
      #5c0034,
      #ff0077,
      #5c0034
    )
    repeat-x;
  background-size: 10px;
  box-shadow: inset 2px 3px 4px #ff0000bc, inset -2px -3px 4px #5c0034bc;
}

/* APL shipping line */
.container.APL {
  background: linear-gradient(
      to right,
      #055469,
      #000000,
      #055469,
      #000000,
      #055469,
      #000000,
      #055469,
      #000000
    )
    repeat-x;
  background-size: 10px;
  box-shadow: inset 2px 3px 4px #055469bc, inset -2px -3px 4px #000000bc;
}

.show {
  display: block;
}

.yard_area001 {
  position: fixed;
  width: 100%;
  height: 100dvh;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 9999999;
  border: 2px solid orange;
}

.yard_area001.collapse {
  transform: translateY(100%);
}

.rangeInput {
  position: fixed;
  bottom: 100px;
  right: 100px;
  padding: 10px;
  z-index: 999;
}

.button-group {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 999;
}

.button-group button {
  padding: 5px 20px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.region {
  cursor: pointer;
  transition: fill 0.3s;
  position: relative;
}

.region:hover {
  fill: #ffcc00;
}

.layout_cont {
  /* background: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  max-width: 1400px;
  clear: both;
  width: 100%;
  margin: auto;
  /* perspective: 900; */
  transform: rotate(90deg);
}

.layout_cont svg {
  width: 25%;
  /* background: pink; */
  /* height: auto; */
  transition: transform 0.3s ease;
  /* orientation: landscape; */
  /* object-fit: contain;
  transform-style: preserve-3d; */
}

.location-icon {
  position: absolute;
  font-size: 24px;
  pointer-events: none;
}

/* Modal styling */
.modal {
  display: none;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  background-color: white;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px #f9f9f9;
  z-index: 1000;
  padding: 16px;
  border-radius: 5px;
}

.modal-content {
  text-align: center;
}

.close-button {
  float: right;
  cursor: pointer;
}

.fa-map-pin {
  color: red;
}

.region {
  stroke-dasharray: 1000;
  /* Start with a large dash array */
  stroke-dashoffset: 1000;
  /* Offset by the same amount */
  /* fill: transparent !important; */
  animation: draw 3s ease forwards, fill 1s ease 3s forwards;
}

/* Line-drawing animation */
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.blocktooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  display: none;
  pointer-events: none; /* Prevent blocking interactions */
}

.yard_area001.hidden {
  display: none !important;
}
